* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__container,
.search__container {
    padding: 0 48px;
}

button {
    padding: 12px 32px;
    background-color: #6030b1;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: none;
}

.purple {
    color: #6030b1;
}


/*

NAVIGATION

*/

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.nav__icon {
    width: 150px;
}

.nav__link {
    display: flex;
    justify-content: space-between;

}

.nav__links {
    display: flex;
    align-items: center;
    padding: 0 12px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.3px;
}

.nav__links--login {
    color: white;
    border-radius: 24px;
}

.nav__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 48px 0;
}

.nav__header--title {
    font-size: 24px;
    margin-bottom: 32px;
}

.nav__subheader {
    font-size: 30px;
    margin-bottom: 40px;
}

.input__wrapper {
    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;;
}
.header__search--input {
    width: 80%;
    border-radius: 30px;
}

.header__search--input:focus {
    outline: 2px solid #6030b1;
}

.nav__search--button {
    font-size: 20px;
    margin: 0 20px;
    padding: 12px 40px;
    border-radius: 20px;
}

.nav__img--wrapper {
    margin: 0 16px;
}

/*

SEARCH LIST

*/

.search__container {

}

#filter {
    margin-bottom: 24px;
}

.search__loading {
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 80px;
    /* display: flex; */
    display: none;
}

.search__loading--visible {
    display:flex;
    z-index: 1;
}

.fa-spinner {
    animation: spinner 750ms infinite linear;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
    
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.movie-list__wrapper {
    width: calc(95% / 3);
    padding: 0 24px;
    margin-bottom: 24px;
    position: relative;
}

.search__img--wrapper {
    overflow: hidden;
    margin-bottom: 8px;
}

.search__movie--img {
    max-height: 500px;
}

.search__movie--img:hover {
    transform: scale(1.05);
}

.search__movie-title {
    font-size: 24px;
    margin-bottom: 8px;
}

.movie__cover--info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(236, 236, 236, 0.3)
}