@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

img {
    width: 100%;
}

a, button {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__container,
.search__container {
    padding: 0 48px;
}

button {
    padding: 12px 32px;
    background-color: #6030b1;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: none;
}

.purple {
    color: #6030b1;
}


/*

NAVIGATION

*/

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.nav__icon {
    width: 150px;
}

.nav__link {
    display: flex;
    justify-content: space-between;

}

.nav__links {
    display: flex;
    align-items: center;
    padding: 0 12px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.3px;
}

.nav__links--login {
    color: white;
    border-radius: 24px;
}

.nav__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 48px 0;
}

.nav__header--title {
    font-size: 50px;
    margin-bottom: 32px;
}

.nav__subheader {
    font-size: 30px;
    margin-bottom: 40px;
}

.input__wrapper {
    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;;
}
.header__search--input {
    width: 80%;
    border-radius: 30px;
}

.header__search--input:focus {
    outline: 2px solid #6030b1;
}

.nav__search--button {
    font-size: 20px;
    margin: 0 20px;
    padding: 12px 40px;
    border-radius: 20px;
}

.nav__img--wrapper {
    margin: 0 16px;
}

/*

BURGER MENU

*/

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    border: none;
    color: #7342d6;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: rgba(63, 63, 63, 1);
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
    opacity: 0;
    transform: translate(100%);
}

.menu--open .menu__backdrop {
    opacity: 1;
    transform: translate(0);
}

.menu__list {
    padding: 32px 0;
}

.nav__links--menu {
    color: white;
    font-size: 24px;
}

.btn__menu--close {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 8px;
    color: white;
}


/*

SEARCH LIST

*/


#filter {
    margin-bottom: 24px;
}

.search__loading {
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 80px;
    /* display: flex; */
    display: none;
}

.search__loading--visible {
    display:flex;
    z-index: 1;
}

.fa-spinner {
    animation: spinner 750ms infinite linear;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
    
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-list__wrapper {
    width: calc(95% / 3);
    padding: 0 24px;
    margin-bottom: 24px;
}

.search__img--wrapper {
    overflow: hidden;
    margin-bottom: 8px;
    position: relative;
}

.search__movie--img {
    max-height: 500px;
}

.movie__cover--info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(236, 236, 236, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 0;
}

.movie__cover--info:hover {
    opacity: 01;
}

.movie__more--info {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 300ms, transform 450ms ease;
}

.movie-list__wrapper:hover .movie__more--info {
    opacity: 1;
    transform: translateX(0%);
}

.movie-list__wrapper:hover .search__movie--img {
    transform: scale(1.05);
}

.search__movie-title {
    font-size: 24px;
    margin-bottom: 8px;
}

#filter {
    font-size: 20px;
    font-weight: 500;
    border: 2px solid #6030b1;
    border-radius: 20px;
}

/*

FOOTER

*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    background-color: rgb(211, 187, 255)
}

.footer__icon {
    width: 200px;
    padding: 24px 0;
}

.copyright {
    padding-bottom: 24px;
}

/*

MOVIE DETAILS

*/

#movie p {
    font-size: 20px;
    line-height: 2;
}

.movie {
    display: flex;
    justify-content: center;
    padding: 0 48px;
    padding-bottom: 48px;
}

.movie__details {
    display: flex;
    width: 100%;
    justify-content: center;
}

.movie__detail--img {
    display: flex;
    min-width: 400px;
}

.movie__detail--wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 48px;
    text-align: left;
}

@media (max-width: 958px) {
    .movie-list__wrapper {
        width: calc(100% / 2);
    }

    .btn__menu {
        display: block;
    }

    .nav__link {
        display: none;
    }

    .nav__header--title {
        font-size: 32px;
    }

    .input__wrapper {
        padding: 0 32px;
    }

    .header__search--input {
        font-size: 18px;
    }
    .nav__search--button {
        font-size: 24px;
    }

    footer {
        font-size: 16px;
    }

    .movie__details {
        flex-direction: column;
    }

    .movie__detail--img {
        padding: 40px;
    }
}

@media (max-width: 550px) {
    .movie-list__wrapper {
        width: 100%;
    }
}